extends ../app/base/base.pug
block data
  - var activePage = 'операции';
block main
  .Title 
    h1 Операции
  .operationBlock
    .blockOperations
      select(class="js-chooseArticle")
        option(value="newIncome") Доход от
        option(value="newExpense") Потратить на
      select(class="js-chooseArticlesName")
    .operationInfo
block append js   
  script(src="js/operations.js")
